* { margin: 0; padding: 0; }

html {
    height: 100%;
}
body {
    background-color: #346F46;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.container {
    position: relative;
}

.white-keys>kbd {
    display: inline-block;
    background-color: white;
    width: 50px;
    border: 1px solid grey;
    text-align: center;
    padding-top: 170px;
    padding-bottom: 30px;
    font-family: 'Noto Serif', serif;
    font-weight: bold;
    box-shadow: inset 0 -5px 5px 2px rgba(0, 0, 0, 0.3);
}

.black-keys kbd {
    display: inline-block;
    width: 40px;
    padding-bottom: 20px;
    padding-top: 90px;
    background-color: black;
    color: white;
    text-align: center;
    font-family: 'Noto Serif', serif;
    box-shadow: 0 6px 5px 3px rgba(0, 0, 0, 0.3);
}

.white-keys {
    display: flex;
    box-shadow: 0 0 12px 3px rgba(0, 0, 0, 0.3);
}

.black-keys {
    display: flex;
    width: 316px;
    justify-content: space-around;
    position: absolute;
    top: 0;
    z-index: 1;
    left: 25px;
}

#key-t {
    margin-left: 48px;
}